extends _layout

block title
  title= 'Staff｜'+metas.title

block body
  .l-body_wrapper.p-staff#l-body_wrapper
    .l-container
      .c-page_top_caption_wrapper
        .c-page_top_caption
          h2.c-page_top_caption_h2 Staff
          h3.c-page_top_caption_h3 スタッフ
          p.c-page_top_caption_p 筑波大学JAZZ愛好会、「ジャズ喫茶フルハウス 2017」の運営陣です
      .staff_main_container
        .l-main_contents_wrapper
          .staff_container
            table.staff_table
              tr.staff_table_tr
                th.staff_table_th 店長
                td.staff_table_td 紀平 健登
              tr.staff_table_tr
                th.staff_table_th 料理長
                td.staff_table_td 福田 真帆
              tr.staff_table_tr
                th.staff_table_th 副料理長
                td.staff_table_td 小原 美里
              tr.staff_table_tr
                th.staff_table_th ウェイター長
                td.staff_table_td 岡田 蒼平
              tr.staff_table_tr
                th.staff_table_th 会計
                td.staff_table_td 椎名 美咲
              tr.staff_table_tr
                th.staff_table_th 内装　
                td.staff_table_td 伏見 秋音
              tr.staff_table_tr
                th.staff_table_th PA長　
                td.staff_table_td 斎藤 美希
              tr.staff_table_tr
                th.staff_table_th 外セッション　
                td.staff_table_td 佐藤 亘
              tr.staff_table_tr
                th.staff_table_th 広報　
                td.staff_table_td 平澤 美紅
              tr.staff_table_tr
                th.staff_table_th WEB　
                td.staff_table_td 北澤 昂大