.p-index
  .home_top_container
    //margin-bottom 10px
    position relative
    width 100%
    height 500px
    overflow hidden
    opacity 0
    //background url(../images/topimg.jpg)
    //background-size cover
    //background-position 0%, 0%
    //transition background-position 6s linear,opacity 1s ease
    //transition background-position 1s linear opacity 0.3s ease
    @media $smtphn
      opacity 1
      transition none
    &::before
      position absolute
      width 100%
      height 100%
      content ''
      //box-shadow 0px 0px 116px 25px black inset
      box-shadow 0 0 116px 25px rgba(0, 0, 0, 0.46) inset
      z-index 0
    @media $mobile
      height 440px
      
  .home_top_container_img
    position absolute
    min-width 100vw
    left 50%
    top 50%
    transform translate(-50%,-50%)
    z-index -1
  .home_top_container_textblock
    position absolute
    left 50%
    top 50%
    width 60%
    transform translate(-50%,-50%)
    color white
    @media $smtphn
      width 80%
    &_h2,&_link
      text-align center
    &_h2
      font-size 60px
      padding-bottom 20px
      letter-spacing 0.03em
      //font-family: 'Poiret One', cursive;
      //font-family: 'Merienda One', cursive;
      //font-family: 'Great Vibes', cursive;
      //font-family: 'Ribeye Marrow', cursive;
      //font-family: 'Fjalla One', sans-serif;
      //font-family: 'Teko', sans-serif;
      //font-family: 'Caveat Brush', cursive;
      //font-family: 'Contrail One', cursive;
      //font-family: 'Homenaje', sans-serif;
      font-family: 'Belleza', sans-serif;
      @media $mobile
        font-size 50px
      @media $index_smtphn_small
        font-size 42px
    &_days
      font-size 18px
      padding-bottom 20px
      font-weight bold
      text-align center
      @media $mobile
        font-size 16px
      ul
        list-style none
        display inline-block
        text-align left
      li
        padding 1px 0px
    &_link
      a
        cursor pointer
        display inline-block
        padding 14px 20px
        border 2px solid #fff
        font-size 16px
        ease()
        font-weight bold
        color white
        &:hover
          background-color rgba(255,255,255,0.2)
        @media $index_smtphn_small
          padding 10px 14px
          font-size 15px
        @media $smtphn_small 
          font-size 12px
  .home_main_block
    h2
      text-align center
      margin-bottom 40px
      font-weight bold
      font-size 28px
      letter-spacing 0.05em
      @media $index_smtphn_small
        margin-bottom 30px
        font-size 23px
    .home_main_contents
      text-align center
    p
      @media $tblt
        font-size 14px
        line-height 1.6em
      @media $smtphn
        font-size 15px
      @media $index_smtphn_small
        font-size 13px
    .home_main_contents_intro_top
      text-align left
      position relative
      img
        width 60%
        @media $smtphn
          width 100%
      p
        position absolute
        bottom 4%
        line-height 1.9em
        letter-spacing 0.06em
        left 36%
        padding 21px 20px
        background-color rgba(255, 255, 255, 0.7)
        border 4px solid rgba(197, 197, 197, 0.41)
        @media $tblt
          line-height 1.6em
        @media $smtphn
          position static
          margin-top 10px
    .home_main_contents_intro_bottom
      padding-top 40px
      text-align center
      @media $smtphn_small
        padding-top 15px
      .link_button_jazz
        button1('お洒落なJazz演奏')
      .link_button_foods
        button1('美味しい軽食')
      a
        margin 0px 20px
        display inline-block
        width 200px
        padding 15px 0px
        text-align center
        font-weight bold
        //border 2px solid black
        @media $index_smtphn_small
          width 170px
          font-size 14px
          &:first-child
            margin 0px 5px 0px 0px
          &:last-child
            margin 0px 0px 0px 5px
        @media $smtphn_small
          display block
          width 200px
          &:first-child
            margin 0 auto
          &:last-child
            margin 10px auto 0px auto
    .home_main_contents_days_top
      position relative
      .home_main_contents_days_top_imgwrapper
        display -webkit-flex
        display flex
        -webkit-justify-content center
        justify-content center
        -webkit-align-items center
        align-items center
        padding-bottom 20px
      img
        width 22%
        padding 1%
        transition width ease 0.3s
        max-width 270px
        &:hover
          width 33%
        @media $mobile
          width 30%
        @media $index_smtphn_small
          width 33%
          padding 0
          &:hover
            width 40%
      p
        line-height 1.9em
        letter-spacing 0.06em
        text-align left
        display inline-block
    .home_main_contents_days_bottom
      padding-top 40px
      text-align center
      a
        display inline-block
        padding 10px 15px
        text-align center
        font-weight bold
        background #5d5d5d
        color white
        border 2px solid #737373
        @media $index_smtphn_small
          font-size 14px
        @media $smtphn_small
          font-size 13px
        button2()

    .home_main_contents_access_top
      padding-bottom 20px
      p
        line-height 1.9em
        letter-spacing 0.06em
        text-align left
        display inline-block
    .home_main_contents_access_bottom
      padding-top 40px
      .home_main_contents_access_map_img
        display block
        margin 0 auto
        width 37%
        min-width 260px
        margin-top 33px
        border 4px solid #dedede
      .home_main_contents_access_map_wrapper 
        max-width 100%
        width 600px
        margin 0 auto
        
    .home_main_contents_ustream_top
      .home_main_contents_ustream_top_imgwrapper
      p
        line-height 1.9em
        letter-spacing 0.06em
        text-align left
        display inline-block
    .home_main_contents_ustream_bottom
      padding-top 40px
      text-align center
      a
        margin 0px 20px
        display inline-block
        padding 10px 15px
        text-align center
        font-weight bold
        background #5d5d5d
        color white
        border 2px solid #737373
        button2()

    .home_main_contents_twitter_top
      padding-bottom 40px
      p
        line-height 1.9em
        letter-spacing 0.06em
        text-align left
        display inline-block
    .home_main_contents_twitter_bottom
      width 600px
      max-width 100%
      margin 0 auto
      border 5px solid #eaeaea