
// Fonts
$sans-serif = -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Hiragino Kaku Gothic ProN", "Yu Gothic", sans-serif
$serif = Georgia, "Hiragino Mincho ProN", "Yu Mincho", serif

// Media Query
