.l-body_wrapper_smp
  display none
  @media $mobile
    position fixed
    width 100vw
    height 200vh
    background rgba(0, 0, 0, 0.51)
    z-index 2
    top 0
    left 0
    &.is_menu_opened
      display block