.l-footer
  position absolute
  bottom 0
  box-sizing border-box
  font-size 11px
  z-index 0
  padding 4px 0px
  text-align center
  width 100%
  box-shadow 0px 0px 4px -1px rgba(95, 95, 95, 0.42)
  //background-color white
  background-color #0e182f
  color white