$main_colum_width = 1300px;

$min_display_width = "screen and (max-width:319px)";
$smtphn_small = "screen and (max-width:400px)";
$smtphn = "screen and (max-width:700px)";
$tblt = "screen and (min-width:701px) and (max-width:960px)";
$mobile = $smtphn + "," + $tblt;
$pc = "screen and (min-width:"+$main_colum_width+")";
$pc_tblt = $pc + "," + $tblt;

$index_tab_displaysize = "screen and (min-width:550px) and (max-width:1000px)";

$index_smtphn_small = "screen and (max-width:530px)";
$index_header_small_pc  = "screen and (min-width:1001px) and (max-width:1100px)";

$index_sns_smp = "screen and (max-width:500px)";


$post_tandem_smpsize_small = 'screen and (max-width:550px)'